
<mat-sidenav-container fullscreen [hasBackdrop]="false" >
    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">
    
        <!-- <div class="col-lg-4 col-md-12 col-sm-12">
                    
            <h1><span style="cursor: pointer;"><i class="fa fa-arrow-circle-o-left" (click)="handleBack()"></i></span> &nbsp; {{'Participants Detail' | translate}}</h1>
            <p>{{'HOME' | translate}} > {{'Participants List' | translate}}</p>
        </div>
     -->
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-3 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
              
                <!-- Title -->
                
                <div class="mt-2" *transloco="let t; read: 'COURSE'">
                    <h2>
                       
    
                        <!-- <span mat-icon-button class="material-icons" (click)="handleBack()">arrow_circle_left</span> -->
                    </h2>
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate" >
                        <button mat-icon-button (click)="handleBack()">
                            <mat-icon>arrow_circle_left</mat-icon>
                        </button><span *ngIf="dataSet!=null" matTooltip ="{{titlehead1}}"> {{titlehead1}}</span> 
                        <span *ngIf="dataSet.length ===0" matTooltip ="{{tile}}"> {{tile}}</span> 
                    </h2>&nbsp; 
                    <!-- <h3 style="font-weight: bold;">{{titlehead}}</h3> -->

                </div>
            </div>
            <div class="flex items-center justify-end" *transloco="let t; read: 'COURSE'">
                <div class="example-header">
                    <mat-form-field>
                        <mat-icon>search</mat-icon>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{t('SEARCH')}}">
                    </mat-form-field>
                  </div>
            </div> 
    
            <button mat-flat-button="" type="button" (click)="sidenav.toggle();addDialog()" *transloco="let t; read: 'COURSE'"
            class="mat-focus-indicator ml-4 mat-flat-button mat-button-base mat-primary" style="background: #941C3C;"><span
                class="mat-button-wrapper"> <mat-icon class="material-icons">
                    add
                </mat-icon> {{t('Add Participants')}} </span>
            
        </button>
        </div>
    
        <!-- Header & Cards -->
        <div class="relative pb-12 sm:pt-0 sm:pb-2 px-6 sm:px-6 overflow-hidden">
            
            <!-- Card -->
            <div class="flex flex-col items-center mt-10 sm:mt-5" >
                <fuse-card class="flex-col lg:flex-row w-full lg:max-w-7xl overflow-x-auto overflow-y-hidden" >
                  
                    <div class="grid grid-flow-col lg:grid-flow-row min-w-max lg:min-w-0 divide-x lg:divide-x-0 lg:divide-y"
                        style="width: 100%" >
    
                        <div class="example-loading-shade" style="margin: auto;margin-top: 50px;" *ngIf="loading">
                            <mat-spinner *ngIf="loading" class="orange-spinner"></mat-spinner>
                            
                        </div>
                        
                        <div class="mat-elevation-z8" >
    
                            <table mat-table [dataSource]="dataSource" style="width: 100%" matSort matSortActive="createdOn"
                            matSortDisableClear matSortDirection="desc" (matSortChange)="applySort($event)" >
    
                                <ng-container matColumnDef="userName" *transloco="let t; read: 'COURSE'">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header >{{t('Participant Name')}}</th>
                                    <td matTooltip ="{{element.userName}}" mat-cell *matCellDef="let element"> 
                                        {{((element.userName).length > 20) ? ((element.userName).slice(0, 20) + '...') : element.userName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="email" *transloco="let t; read: 'COURSE'">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('Email')}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="enrollmentNo" *transloco="let t; read: 'COURSE'">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header >{{t('Enrollment No')}}</th>
                                    <td matTooltip ="{{element.enrollmentNo}}" mat-cell *matCellDef="let element"> 
                                        {{element.enrollmentNo}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="createdOn" *transloco="let t; read: 'COURSE'">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('Created Date')}}</th>
                                    <td matTooltip ="{{element.createdOn| date:'dd-MM-yyyy'}}" mat-cell *matCellDef="let element"> {{element.createdOn | date:"yyyy-MM-dd"}} </td>
                                </ng-container>
    
    
                                <!-- <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                                </ng-container> -->
    
    
                                <ng-container matColumnDef="action" *transloco="let t; read: 'COURSE'">
                                    <th mat-header-cell *matHeaderCellDef>{{t('Action')}}</th>
                                    <td mat-cell *matCellDef="let element">
                                      
                                        <button matTooltip="{{t('Delete')}}" (click)="DeleteCourse(element.id)" style="color: #941C3C;"><i class="material-icons">delete</i></button>
                                    </td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"
                            (page)="getPageDetails($event)">
                            </mat-paginator>
                         <!--
                        <table mat-table [dataSource]="dataSource" style="width: 100%"
                            matSort matSortActive="userName"matSortDisableClear matSortDirection="desc" (matSortChange)="applySort($event)">
    
                                <ng-container matColumnDef="userName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Participant Name' | translate}}</th>
                                    <td  mat-cell *matCellDef="let element"> {{element.userName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Email' | translate}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <ng-container matColumnDef="createdOn">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Created Date' | translate}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.createdOn | date:"dd-MM-yyyy"}} </td>
                                </ng-container>
                               
    
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>{{'Action' | translate}}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <button style="color: blue;" data-toggle="tooltip" data-placement="bottom" (click)="sidenav.open();editdialog(element)"
                                            class="Edit"><span class="mat-button-wrapper"><mat-icon role="img" class="mat-icon notranslate text-blue-600 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="pencil-alt" data-mat-icon-namespace="heroicons_outline">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#941C3C" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                                        </svg></mat-icon></span>
                                        </button>&nbsp;
                                        <button (click)="DeleteCourse(element.id)" style="color: #941C3C;"><i class="material-icons">delete</i></button>
                                    </td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                           
                        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"
                        (page)="getPageDetails($event)">
                        </mat-paginator>

                    -->
                        </div>
                    </div>
                </fuse-card>
            </div>
        </div>
    
    </div>
    <mat-sidenav #sidenav mode="over" backdrop="false" class="example-sidenav" [ngStyle]="{ 'width.%': sidenavWidth }"
        opened="false" position="end">
        <!-- Form Title -->
        <mat-toolbar class="mat-accent m-0 mail-compose-dialog">
            <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="background: #941C3C;color: white;">
                <span class="title dialog-title">{{title}}</span>
                <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                    <button mat-icon-button (click)="sidenav.toggle();" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
  
        <mat-dialog-content class="m-0 form formGroup h-auto" fusePerfectScrollbar>

            <form [formGroup]="CourseForm" fxFlex class="event-form w-100-p" *transloco="let t; read: 'COURSE'">
                <div fxLayout="column" class="p-20" style="padding: 1rem !important;">

                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>{{t('Participant Name')}}</mat-label>
                        <mat-select formControlName="userId">
                            <mat-option *ngFor="let item of Nonenroluser" [value]="item.id">{{item.firstName}} {{item.lastName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>

        </mat-dialog-content>
        <div mat-dialog-actions fxLayoutAlign="end center" class="m-0 p-6 " fxLayout="row" *transloco="let t; read: 'COURSE'">
           
            <button (click)="CourseForm.reset()"  matTooltip="{{t('RESET')}}" aria-label="Reset" mat-raised-button class="mr-4">
              <span>{{t('CLEAR')}}</span>
            </button>
            <button type="submit" (click)="submit(CourseForm)"  mat-raised-button color="accent" aria-label="Submit"
              matTooltip="{{t('SUBMIT')}}"><span>{{t('SUBMIT')}}</span></button>
           
        </div>
    </mat-sidenav>
    </mat-sidenav-container>
    
    
