<div class="flex flex-col flex-auto min-w-0" *transloco="let t; read: 'EXAMS'">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <!-- <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">User Interface</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Forms</a>
                </div>
            </div> -->
            <!-- Title -->
            
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button mat-icon-button (click)="handleBack()">
                        <mat-icon>arrow_circle_left</mat-icon>
                    </button>  {{t('Questions Answer')}}
                </h2>
            </div>
        </div>
        <div class="flex items-center justify-end">
            <button mat-flat-button="" type="button" (click)="Downloadquestionsubmitted()"
            class="mat-focus-indicator ml-4 mat-flat-button mat-button-base mat-primary" style="background: #941C3C;"><span
                class="mat-button-wrapper">  <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon> 
                {{t('Download Questions Result Pdf')}} </span>
        </button>&nbsp;
            <button mat-flat-button="" type="button" (click)="addNewNote(content)"
                class="mat-focus-indicator ml-4 mat-flat-button mat-button-base mat-primary" style="background: #941C3C;"><span
                    class="mat-button-wrapper"> {{t('Give Marks')}} </span>
        
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
       
        <div class="max-w-3xl" style="max-width: 62rem!important;">

            
            <form>
                <!-- <mat-divider class="mt-6 mb-10"></mat-divider> -->     
                <div class="flex flex-col gt-xs:flex-row flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" *transloco="let t; read: 'EXAMS'">
                    <div  style="margin: auto;margin-top: 50px;" *ngIf="loading" >
                        <mat-spinner *ngIf="loading" class="orange-spinner"></mat-spinner>
                        
                    </div>
                    <div >
                    <span *ngIf="examCandidate.length>0">
                        <span *ngFor="let data of examCandidate; let i = index;">
                  <table>
                    <tr>
                        <th style="text-align: left;">
                            {{t('Course Name')}} :  </th> <td>{{data.courseName}}</td>
                        <th></th>
                        <th style="text-align: left"> 
                            {{t('Course Code')}} :  </th> <td>{{data.courseCode}}</td>
                      
                    </tr>
                    <tr>
                        <th style="text-align: left;">
                            {{t('Place')}} :  </th><td>{{data.coursePlace}}</td>
                            <th></th>
                        <th style="text-align: left"> 
                            {{t('Instructor Name')}} :  </th><td>{{data.instructorName}}</td>
                      
                    </tr>
                    <tr>
                        <th style="text-align: left;">
                            {{t('Name')}} : </th><td>{{data.name}}</td>
                            <th></th>
                        <th style="text-align: left"> 
                            {{t('Date of Birth')}} : </th><td>{{data.dob}}</td>
                      
                    </tr>
                    <tr>
                        <th style="text-align: left;">
                            {{t('Mobile No')}} : </th><td>{{data.mobileno}}</td>
                            <th></th>
                        <th style="text-align: left"> 
                            {{t('Email')}} : </th><td>{{data.email}}</td>
                      
                    </tr>
                    <tr>
                        <th style="text-align: left;">
                            {{t('Date')}} : </th><td>{{data.date}}</td>
                            <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th style="text-align: left"> 
                            {{t('Time')}} : </th><td>{{data.time}} Minutes</td>
                      
                    </tr>
                   

                    </table>
                    
                    </span>
                    </span>
                 </div>
                 <br>
                 <br>
                </div>
                <!-- <p class="text-lg font-medium"> Question 1</p> -->
                <!-- <p class="text-secondary mb-6">
                    Question 1
                </p> -->
               

               <span *ngIf="examQuestionData.length>0">
                <div *ngFor="let qest of examQuestionData; let i = index;">
                   
                    <div class="flex flex-col gt-xs:flex-row flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" *transloco="let t; read: 'EXAMS'">
                        {{i+1}}. {{qest.question}}

                        <div class="flex" *ngFor="let option of qest.options;">
                            &nbsp;&nbsp;&nbsp;({{option.optionNo}}) {{option.option}} <br>
                        
                        </div>
                        <div class="flex">
                            &nbsp; <b>{{t('User Answer')}} :  &nbsp; </b> [{{qest.userAns}}]
                         </div>
                         <br>
                        <!-- <mat-divider class="mt-6 mb-10"></mat-divider> -->
                     </div>
                </div>
            </span>
          
                <!-- <p class="text-lg font-medium">Notifications</p>
                <p class="text-secondary mb-6">
                    We'll always let you know about important changes, but you pick what else you want to hear about.
                </p> -->
                <!-- <div class="flex flex-col gt-sm:flex-row">
                    <div class="flex flex-col">
                        <span class="font-semibold mb-2">By Email</span>
                        <div class="flex flex-col">
                            <mat-checkbox
                                class="mb-2"
                                [checked]="true"
                                [color]="'primary'">
                                Company News
                            </mat-checkbox>
                            <mat-checkbox
                                class="mb-2"
                                [color]="'primary'">
                                Featured Products
                            </mat-checkbox>
                            <mat-checkbox
                                [checked]="true"
                                [color]="'primary'">
                                Messages
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                        <span class="font-semibold mb-2">Push Notifications</span>
                        <mat-radio-group
                            class="flex flex-col"
                            [color]="'primary'"
                            [value]="'just-good'">
                            <mat-radio-button
                                class="mb-2"
                                [value]="'everything'">
                                Everything
                            </mat-radio-button>
                            <mat-radio-button
                                class="mb-2"
                                [value]="'just-good'">
                                Just the good stuff
                            </mat-radio-button>
                            <mat-radio-button [value]="'no-push'">
                                No push notifications
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div> -->

                <!-- <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button>
                        Cancel
                    </button>
                    <button
                        class="px-6 ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        Save
                    </button>
                </div> -->
            </form>

        </div>

    </div>
</div>

<ng-template #content>

    <h2 mat-dialog-title *transloco="let t; read: 'EXAMS'">{{t('Marks')}}</h2>
  
    <div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">

      <form [formGroup]="QuestionsOptions" *transloco="let t; read: 'EXAMS'">
        <div class="m-4">
          <div>
            <mat-form-field style="width: 48%" appearance="outline">
              <mat-label>{{t('Total Questions')}}</mat-label>
              <input matInput formControlName="totalquestions" readonly>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 48%" appearance="outline">
              <mat-label>{{t('Total Skipped Questions')}}</mat-label>
              <input matInput formControlName="totalskippedquestion" value="{{totalSkipQnt}}" readonly>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Correct Questions')}}</mat-label>
                <input matInput formControlName="correctquestions" (keyup)="keyTotalQnt($event.target.value)" min="0" max="20" type="number">
                <mat-error>Correct Question is required</mat-error>
              </mat-form-field>&nbsp;&nbsp;
              <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Incorrect Questions')}}</mat-label>
                <input matInput formControlName="incorrectquestions"value="{{totalIncorrectQnt}}" readonly>
              </mat-form-field>&nbsp;&nbsp;
              <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Percentage')}}</mat-label>
                <input matInput formControlName="totalpercentage" value="{{percentage}}" readonly>
              </mat-form-field>&nbsp;&nbsp;
              <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Exam Status')}}</mat-label>
                <input matInput formControlName="result" value="{{result}}" readonly>
              </mat-form-field>&nbsp;&nbsp;
      
          </div>
      
          <div class="col lg-12">
      
            <button mat-raised-button color="accent" [disabled]="flag" (click)="UpateMarks(QuestionsOptions)" mat-flat-button="" matdialogclose="" style="float: right;"
              class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base"
              type="button"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                class="mdc-button__label"> {{t('SUBMIT')}} </span><span class="mat-mdc-focus-indicator"></span><span matripple=""
                class="mat-ripple mat-mdc-button-ripple"></span><span class="mat-mdc-button-touch-target"></span></button>
               
                <button (click)="modalReference.close();closePopup()"  _ngcontent-iac-c131="" mat-raised-button="" mat-flat-button="" matdialogclose="" type="button" class="mat-focus-indicator mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base mat-flat-button mat-raised-button mat-button-base" style="float: right;margin-right: 20px;"><span class="mat-button-wrapper"><span _ngcontent-iac-c131="" class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span _ngcontent-iac-c131="" class="mdc-button__label"> {{t('Close')}} </span><span _ngcontent-iac-c131="" class="mat-mdc-focus-indicator"></span><span _ngcontent-iac-c131="" matripple="" class="mat-ripple mat-mdc-button-ripple"></span><span _ngcontent-iac-c131="" class="mat-mdc-button-touch-target"></span></span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span></button>
                <br>
                <br><br>
          </div><!----><!---->
        </div><!----><!---->
      </form>
   
    </div>
  </ng-template>