<mat-sidenav-container fullscreen [hasBackdrop]="false" *transloco="let t; read: 'TERMSCONDITION'">
    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

        <!-- Header -->

        <div
            class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-3 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->

                <!-- Title -->

                <div class="mt-2">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        <span>
                            {{t('Hot Worker Work History')}}
                        </span>
                    </h2>
                </div>
            </div>
            <div class="flex items-center justify-end">

                <div class="example-header">
                    <mat-form-field>
                        <mat-icon>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{t('SEARCH')}}">
                    </mat-form-field>
                </div>
            </div>

        </div>

        <!-- Header & Cards -->
        <div class="relative pb-12 sm:pt-0 sm:pb-2 px-6 sm:px-6 overflow-hidden">

            <!-- Card -->
            <div class="flex flex-col items-center mt-10 sm:mt-5">
                <fuse-card class="flex-col lg:flex-row w-full lg:max-w-7xl overflow-x-auto overflow-y-hidden">

                    <div class="grid grid-flow-col lg:grid-flow-row min-w-max lg:min-w-0 divide-x lg:divide-x-0 lg:divide-y"
                        style="width: 100%">
                        <div class="example-loading-shade" style="margin: auto;margin-top: 30px;" *ngIf="loading">
                            <mat-spinner *ngIf="loading" class="orange-spinner"></mat-spinner>

                        </div>

                        <div class="mat-elevation-z8">

                            <div>

                                <table mat-table [dataSource]="data1?.hotworkers" style="width: 100%" matSort
                                    matSortActive="firstName" matSortDisableClear matSortDirection="desc">
                                    <ng-container matColumnDef="firstName">
                                        <th id="content" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                            {{t('Name')}}</th>
                                        <td matTooltip="{{element.firstName +' '+element.lastName}}" mat-cell
                                            *matCellDef="let element" [routerLink]="['/apps/hotworker-work-history/hotworker-work-data/'+element.id]">

                                            {{((element.firstName +" "+element.lastName).length > 10) ?
                                            ((element.firstName +" "+element.lastName).slice(0, 10) + '...') :
                                            element.firstName +" "+element.lastName}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="mobileNumber">
                                        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
                                        <td matTooltip="{{element.mobileNumber}}" mat-cell *matCellDef="let element" [routerLink]="['/apps/hotworker-work-history/hotworker-work-data/'+element.id]">
                                            {{element.mobileNumber}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                                            {{t('Email')}}</th>
                                        <td matTooltip="{{element.email}}" mat-cell *matCellDef="let element" [routerLink]="['/apps/hotworker-work-history/hotworker-work-data/'+element.id]">
                                            {{(element.email.length > 20) ? ((element.email).slice(0, 20) + '...') :
                                            element.email}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="organization">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization
                                        </th>
                                        <td matTooltip="{{element.organization}}" mat-cell *matCellDef="let element" [routerLink]="['/apps/hotworker-work-history/hotworker-work-data/'+element.id]">
                                            {{element.orgNumbers[0]}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="certNo">
                                        <th matTooltip="{{t('certificateNo')}}" mat-header-cell *matHeaderCellDef>
                                            {{t('Cert.No')}}</th>
                                        <td matTooltip="{{element.certNo}}" mat-cell *matCellDef="let element" [routerLink]="['/apps/hotworker-work-history/hotworker-work-data/'+element.id]">
                                            {{element.certNo}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="certExpireDate">
                                        <th matTooltip="{{t('Cert.Expiry Date')}}" mat-header-cell *matHeaderCellDef>
                                            {{t('Cert.Expiry Date')}}</th>
                                        <td matTooltip="{{element.certExpireDate | date:'dd-MM-yyyy'}}" mat-cell
                                            *matCellDef="let element" [routerLink]="['/apps/hotworker-work-history/hotworker-work-data/'+element.id]"> {{element.certExpireDate | date:"dd-MM-yyyy"}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>{{t('Action')}}</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span *ngIf="!loading && !sortBool">


                                                <span
                                                    *ngIf="element.certColorCode ==='#FF5733' || element.certColorCode ===null">
                                                    <button (click)="Downloadcertificate(element)" mat-icon-button
                                                        matTooltip="{{t('Download Certificate')}}">
                                                        <mat-icon style="color:{{element.certColorCode}}"
                                                            svgIcon="heroicons_outline:document-download"></mat-icon>
                                                    </button>
                                                </span>

                                                <span
                                                    *ngIf="element.certColorCode =='#008000' || element.certColorCode =='#FFEA00'">
                                                    <button (click)="Downloadcertificate(element)" mat-icon-button
                                                        matTooltip="{{t('Download Certificate')}}">
                                                        <mat-icon style="color:{{element.certColorCode}}"
                                                            svgIcon="heroicons_outline:document-download"></mat-icon>
                                                    </button>
                                                </span>

                                            </span>
                                        </td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="examLanguage">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Date
                                    </th>
                                    <td matTooltip="{{element.certExpireDateStr}}" mat-cell *matCellDef="let element"> {{element.certExpireDateStr}} </td>
                                </ng-container> -->
                                    <!-- <ng-container matColumnDef="address">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address
                                    </th>
                                    <td  mat-cell *matCellDef="let element"> Norway </td>
                                </ng-container> -->

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        >

                                    </tr>
                                </table>
                            </div>
                            <!-- <span *ngIf="loading && !sortBool">
                                <mat-spinner style="margin: auto;margin-top: 50px;" class="orange-spinner"></mat-spinner>
                            </span>  -->

                            <mat-paginator #paginator [length]="resultsLength" [pageSize]="apirequest.pageSize"
                                [pageSizeOptions]="[5,10, 25, 100]" (page)="getPageDetails($event)"></mat-paginator>
                        </div>


                    </div>
                </fuse-card>
            </div>
        </div>

    </div>
</mat-sidenav-container>