<mat-sidenav-container fullscreen [hasBackdrop]="false" *transloco="let t; read: 'TERMSCONDITION'">
    <div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

        <!-- Header -->

        <div
            class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-3 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->

                <!-- Title -->

                <div class="mt-2">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Disconnection
                    </h2>
                </div>
            </div>
            <div class="flex items-center justify-end">
                <!-- <form [formGroup]="workform" fxFlex class="event-form w-100-p">

                    <mat-form-field style="width: 50%" appearance="outline">
                        <mat-label>{{'Select Language' | translate}}</mat-label>
                        <mat-select formControlName="languageType" (selectionChange)="Worktypeidevent($event)">
                            <mat-option *ngFor="let item of examFullMarks"
                                [value]="item.value">{{item.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form> -->
                <div class="example-header">
                    <mat-form-field >
                        <mat-icon>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{t('SEARCH')}}" >
                    </mat-form-field>
                </div>
            </div>

            <button mat-flat-button="" type="button" (click)="sidenav.toggle();addDialog()"
                class="mat-focus-indicator ml-4 mat-flat-button mat-button-base mat-primary"
                style="background: #314f60;"><span class="mat-button-wrapper"> <mat-icon class="material-icons">
                        add
                    </mat-icon> Add Disconnection </span>

            </button>
        </div>

        <!-- Header & Cards -->
        <div class="relative pb-12 sm:pt-0 sm:pb-2 px-6 sm:px-6 overflow-hidden">

            <!-- Card -->
            <div class="flex flex-col items-center mt-10 sm:mt-5">
                <fuse-card class="flex-col lg:flex-row w-full lg:max-w-7xl overflow-x-auto overflow-y-hidden">

                    <div class="grid grid-flow-col lg:grid-flow-row min-w-max lg:min-w-0 divide-x lg:divide-x-0 lg:divide-y"
                        style="width: 100%">
                        <app-data-grid
                                [gridSettings]="gridColumns"
                                [dataSource]="dataSource"
                                [totalRecordCount]="11"
                                [loading]="loading"
                                [pageIndex]="apiRequest?.pageNo"
                                [pageSize]="pageSize"
                                [nodataMessage]="'No Data Found'"
                                [t]="t"
                                [sortBy]="sortBy"
                                [sortDirection]="sortDirection"
                                [enableRowClick]="true"
                                (checkboxClick)="handleCheckBoxClick($event)"
                                (buttonClick)="handleButtonClick($event, content)"
                                (fetchPageData)="handlePageFetch($event)"
                                (sortChangeClick)="handleSortChange($event)"
                                (rowClick)="handleRowClick($event)"
                            ></app-data-grid>
                        <!-- <div class="example-loading-shade" style="margin: auto;margin-top: 50px;" *ngIf="loading">
                            <mat-spinner *ngIf="loading" class="orange-spinner"></mat-spinner>
                            
                        </div>

                        <div class="mat-elevation-z8">

                            <table mat-table [dataSource]="dataSource" style="width: 100%" matSort matSortActive="workTypeDesc"
                            matSortDisableClear matSortDirection="desc" (matSortChange)="applySort($event)">

                                <ng-container matColumnDef="languageType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{t('Language')}}
                                    </th>
                                    <td matTooltip="{{element.languageType}}" mat-cell *matCellDef="let element"> {{element.languageType}} </td>
                                </ng-container>

                                <ng-container matColumnDef="workTypeDesc">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('Description')}}
                                    </th>
                                    <td matTooltip="{{element.workTypeDesc}}" mat-cell *matCellDef="let element">
                                        {{((element.workTypeDesc).length > 50) ? ((element.workTypeDesc).slice(0, 50) +
                                        '...') : element.workTypeDesc}}
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('Status')}}</th>
        <td  mat-cell *matCellDef="let element"> <span *ngIf="element.mandatory ==true"> Mandatory </span> <span *ngIf="element.mandatory ==false"> Non Mandatory </span> </td>
                                    
                                    <!-- <td matTooltip="{{element.mandatory}}" mat-cell *matCellDef="let element"> {{element.mandatory}} </td>
                              -->
                            </div>
                        </fuse-card>                 
            </div>
        </div>

    </div>
    <mat-sidenav #sidenav mode="over" backdrop="false" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }"
    opened="false" position="end">
    <!-- Form Title -->
    <mat-toolbar class="mat-accent m-0 mail-compose-dialog">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="background: #314f60;color: white;">
        <span class="title dialog-title">{{title}}</span>
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <button mat-icon-button (click)="sidenav.toggle();closeScree()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Form Title -->
    <mat-dialog-content class=" pl-24 pr-24 pt-24 m-0 form formGroup content-scroll" fusePerfectScrollbar>
      <form [formGroup]="WorktypeForm" fxFlex class="event-form w-100-p">
        <div fxLayout="column" fxLayoutAlign="space-around" class="p-7">

            <mat-form-field style="width: 40%;" appearance="outline">
                <mat-label>Consumer Name</mat-label>
                <input matInput formControlName="name">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;

            <mat-form-field style="width: 20%;" appearance="outline">
                <mat-label>Consumer No.</mat-label>
                <input matInput formControlName="consumerNo">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;

          

            <mat-form-field style="width: 15%;" appearance="outline">
                <mat-label>Meter No</mat-label>
                <input matInput formControlName="meter">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field style="width: 15%;" appearance="outline">
                <mat-label>Meter Reading</mat-label>
                <input matInput formControlName="readingNo">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;

            <mat-form-field style="width: 50%" appearance="outline">
                <mat-label>Select Tariff Session</mat-label>
                <mat-select (selectionChange)="changeSession($event.value)"  [formControl]="selectedItems"multiple>
                    <mat-option *ngFor="let item of availableLang"
                    [value]="item.label" >{{item.label}}</mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field style="width: 30%" appearance="outline" *ngIf="showTariff">
                <mat-label>Select Tariff</mat-label>
                <mat-select   formControlName="tariffType" (selectionChange)="changeTariffType($event.value)">
                    <mat-option *ngFor="let item1 of availabletariffType"
                    [value]="item1.label" >{{item1.label}}</mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field style="width: 81%;" appearance="outline" *ngIf="phaseShow">
                <mat-label>Select Phase Type</mat-label>
                <mat-select   formControlName="phaseTypes" (selectionChange)="changePhaseType($event.value)">
                    <mat-option *ngFor="let item1 of availablePhaseType"
                    [value]="item1.label" >{{item1.label}}</mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>&nbsp;&nbsp;



            <mat-form-field style="width: 81%;" appearance="outline" >
                <mat-label>Fixed Charge</mat-label>
                <input matInput formControlName="tariffValue"  readonly>
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp; 
        
            <mat-form-field style="width: 27%;" appearance="outline">
                <mat-label>Disconnection Charge</mat-label>
                <input matInput formControlName="disconnectionAmnt" type="number" readonly>
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <mat-radio-group formControlName="disconnectionApplicable">
                <mat-radio-button class="ml-6" [value]="true">Disconnection Charge Applicable</mat-radio-button>
                &nbsp;&nbsp; <mat-radio-button class="ml-6" [value]="false">Disconnection Charge Not Applicable</mat-radio-button>
              </mat-radio-group>

            <mat-form-field style="width: 27%;" appearance="outline">
                <mat-label>Meter Removing Charge</mat-label>
                <input matInput formControlName="meterRemovingAmnt" type="number" readonly>
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;


            <mat-radio-group formControlName="meterRemovingApplicable">
                <mat-radio-button class="ml-6" [value]="true">Meter Removing Charge Applicable</mat-radio-button>
                <mat-radio-button class="ml-6" [value]="false">Meter Removing Charge Not Applicable</mat-radio-button>
              </mat-radio-group>

            <mat-form-field style="width: 27%;" appearance="outline">
                <mat-label>Application Charge</mat-label>
                <input matInput formControlName="appAmnt" type="number" readonly>
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <mat-radio-group formControlName="appApplicable">
                <mat-radio-button class="ml-6" [value]=true>Application Charge Applicable</mat-radio-button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-radio-button class="ml-6" [value]=false>Application Charge Not Applicable</mat-radio-button>
              </mat-radio-group>

            <mat-form-field  style="width: 27%" appearance="outline">
                <mat-label>Date Of Connection</mat-label>
                <input matInput [matDatepicker]="date1" formControlName="dateConnection">
                <mat-error></mat-error>
                <mat-datepicker-toggle matSuffix [for]="date1">
                </mat-datepicker-toggle>
                <mat-datepicker #date1></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field  style="width: 27%" appearance="outline">
                <mat-label>Date Of Disconnection</mat-label>
                <input matInput [matDatepicker]="date2" formControlName="dateDisconnection">
                <mat-error></mat-error>
                <mat-datepicker-toggle matSuffix [for]="date2">
                </mat-datepicker-toggle>
                <mat-datepicker #date2></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field  style="width: 25%" appearance="outline">
                <mat-label>Date Of Last Bill</mat-label>
                <input matInput [matDatepicker]="date3" formControlName="dateLastBill">
                <mat-error></mat-error>
                <mat-datepicker-toggle matSuffix [for]="date3">
                </mat-datepicker-toggle>
                <mat-datepicker #date3></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field style="width: 40%;" appearance="outline">
                <mat-label>Dues Amount</mat-label>
                <input matInput formControlName="duesAmnt" type="number">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp; 

            <mat-form-field style="width: 40%;" appearance="outline">
                <mat-label>Load (KB)</mat-label>
                <input matInput formControlName="loadBal" type="number">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp; 

            <mat-form-field style="width: 40%;" appearance="outline">
                <mat-label>Security Amount</mat-label>
                <input matInput formControlName="securityAmnt" type="number">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp; 
         
            <span *ngIf="showFiled">

            <mat-form-field style="width: 40%;" appearance="outline">
                <mat-label>Final Payable Amount</mat-label>
                <input matInput formControlName="payAmnt" type="number" readonly>
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp; 

            <mat-form-field style="width: 81%;" appearance="outline">
                <mat-label>No. Of Days</mat-label>
                <input matInput formControlName="noDays" type="number">
                <mat-error>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp; 
           </span>
            

           

            <br>
          <!-- Description Input Field -->
        </div>

      </form>

    </mat-dialog-content>

    <div mat-dialog-actions fxLayoutAlign="end center" class="m-0 p-16 " fxLayout="row">
      <!-- Submit & Reset Button -->
      <button (click)="WorktypeForm.reset()" matTooltip="Reset" aria-label="Reset" mat-raised-button class="mr-4"
        [disabled]="flagData">
        <span>{{t('CLEAR')}}</span>
      </button>
      <button [disabled]="!isEnabled" type="submit" (click)="submit(WorktypeForm)" mat-raised-button color="accent" aria-label="Submit"
      matTooltip="Submit"><span> {{t('SUBMIT')}}</span></button>
      <!-- Submit & Reset Button -->
    </div>

  </mat-sidenav>
</mat-sidenav-container>


 <ng-template #content>
    <h2 mat-dialog-title *transloco="let t; read: 'COURSE'" >{{t('Delete Confirmation')}}</h2>
    <div class="modal-header">
        <a href="javascript:void(0);" class="right_note" (click)="modalReference.close()"  style="color:#314f60"><i class="fa fa-close"></i></a>
    </div>
    <div class="modal-body" *transloco="let t; read: 'COURSE'">
        <p>{{t('Are you sure you want to delete this record?')}}</p>
    </div>
    <div class="col lg-12" *transloco="let t; read: 'COURSE'">
        <br>
        <button (click)="deleteDisconnection();modalReference.close()"  mat-flat-button="" matdialogclose="" mat-raised-button color="accent" style="float: right;"
            class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base"
            type="button"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                class="mdc-button__label"> {{t('Delete')}} </span><span
                class="mat-mdc-focus-indicator"></span><span matripple=""
                class="mat-ripple mat-mdc-button-ripple"></span><span
                class="mat-mdc-button-touch-target"></span></button>


        <button (click)="modalReference.close()" _ngcontent-iac-c131="" mat-raised-button=""
            mat-flat-button="" matdialogclose="" type="button"
            class="mat-focus-indicator mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base mat-flat-button mat-raised-button mat-button-base"
            style="float: right;margin-right: 20px;"><span class="mat-button-wrapper"><span
                    _ngcontent-iac-c131=""
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    _ngcontent-iac-c131="" class="mdc-button__label"> {{t('Cancel')}}  </span><span
                    _ngcontent-iac-c131="" class="mat-mdc-focus-indicator"></span><span
                    _ngcontent-iac-c131="" matripple=""
                    class="mat-ripple mat-mdc-button-ripple"></span><span _ngcontent-iac-c131=""
                    class="mat-mdc-button-touch-target"></span></span><span matripple=""
                class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
                ng-reflect-trigger="[object HTMLButtonElement]"></span></button>

        <br>
        <br>

    </div>

</ng-template> 