<div class="flex flex-col flex-auto min-w-0" *transloco="let t; read: 'EXAMS'">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button mat-icon-button (click)="handleBack()">
                        <mat-icon>arrow_circle_left</mat-icon>
                    </button><span *ngIf="dataSet!=null" matTooltip ="{{titlehead1}}"> {{titlehead1}}</span>
                </h2>
            </div>
        </div>
    <div class="flex items-center justify-end">
            <!-- <button mat-flat-button="" type="button" (click)="Downloadquestionsubmitted()"
            class="mat-focus-indicator ml-4 mat-flat-button mat-button-base mat-primary" style="background: #941C3C;"><span
                class="mat-button-wrapper">  <mat-icon svgIcon="heroicons_outline:document-download"></mat-icon> 
                {{t('Download Questions Result Pdf')}} </span>
        </button> &nbsp;  -->
        <div class="text-center">
            <input class="form-control" type="file" (change)="onChange($event)"/>
            <button mat-flat-button="" type="button"  (click)="onUpload()"
            class="mat-focus-indicator ml-4 mat-flat-button mat-button-base mat-primary" style="background: #941C3C;"><span
                class="mat-button-wrapper"> Upload </span>
    
        </button>
            <!-- <button (click)="onUpload()" class="btn btn-success">Upload</button> -->
        </div>
       
    </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
       
        <div class="max-w-3xl" style="max-width: 62rem!important;">

            
            <form>
                <!-- <pre>{{mainBulkArray|json}}</pre>    -->
                <!-- <mat-divider class="mt-6 mb-10"></mat-divider>     
                <p class="text-lg font-medium"> Question 1</p> -->
                <!-- <p class="text-secondary mb-6">
                    Question 1
                </p> -->
               

               <span *ngIf="examQuestionData.length>0">
                <div *ngFor="let qest of examQuestionData; let i = index;">
                   
                    <div class="flex flex-col gt-xs:flex-row flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" *transloco="let t; read: 'EXAMS'">
                        {{i+1}}. {{qest.question}}

                        <div class="flex" *ngFor="let choices of qest.choices; let ind = index">
                          <mat-checkbox (change)="oncheckevent($event,i, ind)"
                                class="flex items-center" [color]="'primary'">
                            </mat-checkbox> 
                            {{choices}}<br>
                        
                        </div>
                        <!-- <div class="flex">
                            &nbsp; <b>{{t('User Answer')}} :  &nbsp; </b> [{{qest.userAns}}]
                         </div> -->
                         <br>
                       
                     </div>
                </div>
            </span>
          
              
            </form>

        </div>

    </div>
    <div class="col lg-12" style="padding-right: 40px;">
      <button (click)="SubmitQuestionForm()" mat-flat-button="" matdialogclose="" mat-raised-button color="accent" style="float: right;"
        class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base"
        type="button"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
          class="mdc-button__label"> {{t('SUBMIT')}} </span><span class="mat-mdc-focus-indicator"></span><span
          matripple="" class="mat-ripple mat-mdc-button-ripple"></span><span
          class="mat-mdc-button-touch-target"></span></button> 
    </div>
</div>

<!-- <ng-template #content>

    <h2 mat-dialog-title *transloco="let t; read: 'EXAMS'">{{t('Marks')}}</h2>
  
    <div class="flex flex-col flex-auto md:w-160 md:min-w-160 -m-6">

      <form [formGroup]="QuestionsOptions" *transloco="let t; read: 'EXAMS'">
        <div class="m-4">
          <div>
            <mat-form-field style="width: 48%" appearance="outline">
              <mat-label>{{t('Total Questions')}}</mat-label>
              <input matInput formControlName="totalquestions" readonly>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 48%" appearance="outline">
              <mat-label>{{t('Total Skipped Questions')}}</mat-label>
              <input matInput formControlName="totalskippedquestion" value="{{totalSkipQnt}}" readonly>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Correct Questions')}}</mat-label>
                <input matInput formControlName="correctquestions" (keyup)="keyTotalQnt($event.target.value)" min="0" max="20" type="number">
                <mat-error>Correct Question is required</mat-error>
              </mat-form-field>&nbsp;&nbsp;
              <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Incorrect Questions')}}</mat-label>
                <input matInput formControlName="incorrectquestions"value="{{totalIncorrectQnt}}" readonly>
              </mat-form-field>&nbsp;&nbsp;
              <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Percentage')}}</mat-label>
                <input matInput formControlName="totalpercentage" value="{{percentage}}" readonly>
              </mat-form-field>&nbsp;&nbsp;
              <mat-form-field style="width: 48%" appearance="outline">
                <mat-label>{{t('Exam Status')}}</mat-label>
                <input matInput formControlName="result" value="{{result}}" readonly>
              </mat-form-field>&nbsp;&nbsp;
      
          </div>
      
          <div class="col lg-12">
      
            <button mat-raised-button color="accent" [disabled]="flag" (click)="UpateMarks(QuestionsOptions)" mat-flat-button="" matdialogclose="" style="float: right;"
              class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base"
              type="button"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                class="mdc-button__label"> {{t('SUBMIT')}} </span><span class="mat-mdc-focus-indicator"></span><span matripple=""
                class="mat-ripple mat-mdc-button-ripple"></span><span class="mat-mdc-button-touch-target"></span></button>
               
                <button (click)="modalReference.close();closePopup()"  _ngcontent-iac-c131="" mat-raised-button="" mat-flat-button="" matdialogclose="" type="button" class="mat-focus-indicator mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base mat-flat-button mat-raised-button mat-button-base" style="float: right;margin-right: 20px;"><span class="mat-button-wrapper"><span _ngcontent-iac-c131="" class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span _ngcontent-iac-c131="" class="mdc-button__label"> {{t('Close')}} </span><span _ngcontent-iac-c131="" class="mat-mdc-focus-indicator"></span><span _ngcontent-iac-c131="" matripple="" class="mat-ripple mat-mdc-button-ripple"></span><span _ngcontent-iac-c131="" class="mat-mdc-button-touch-target"></span></span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span></button>
                <br>
                <br><br>
          </div>
        </div>
      </form>
   
    </div>
  </ng-template> -->