
<div class="width">
       <div class="center" >
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
                <div fxFlex="5" >
                    <mat-icon id="#idDelete" class="imgNodata" style="display: table; cursor: pointer;"
                    (click)="dialog.close(this.idDelete)"
                    >perm_identity</mat-icon>
                </div>
                <div fxFlex="5" >
                    <mat-icon id="#idAdd" class="img" style="display: table; cursor: pointer;"
                    (click)="dialog.close(this.idAdd)"
                    >perm_identity</mat-icon>
                </div>
                <div fxFlex="5" >
                    <mat-icon id="#idEdit"class="img" style="display: table; cursor: pointer;"
                    (click)="dialog.close(this.idEdit)"
                    >supervisor_account</mat-icon>
                </div>
                <div fxFlex="5">
                    <mat-icon id="#idVeiw" class="img" style="display: table; cursor: pointer;"
                    (click)="dialog.close(this.idView)"
                    >supervised_user_circle</mat-icon>
                </div>
                </div>
        </div>
    </div>
            




