<div class="flex flex-col flex-auto" style="background: white;" *transloco="let t; read: 'PROFILE'">

<div class="w-full max-w-3xl" style="padding-left:40px;">

    <!-- Form -->
    <form [formGroup]="accountForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl"> <b>{{t('Profile')}}</b></div>
            
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>First Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'firstName'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Last Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'lastName'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Username -->
            
            <!-- Title -->
            
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{t('Email')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Role</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        matInput>
                </mat-form-field>
            </div>
        </div>

      

        <!-- Section -->
      
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            
            <!-- Phone -->
            
            <!-- Country -->
            <div class="sm:col-span-2">
                <mat-form-field style="width: 70%" appearance="outline">
                    <mat-label>{{t('Role')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix></mat-icon>
                        <input
                        [formControlName]="'roleId'"
                        matInput readonly>
                </mat-form-field>
            </div>
            <!-- Language -->
          
        </div>

      

     
       

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button (click)="submit(accountForm)"
                type="button"
                [color]="'primary'">{{t('Save')}}
            </button>
        </div>
    </form>

</div>
</div>




